<ul class="flex flex-1 justify-between items-center text-sm font-medium h-full main-nav">
    <span class="flex links-container">
        <li class="pr-6 nav-dropdown-item">
            <a class="flex items-center" href="">Explore
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" role="img"
                    class="icon caret ml-2">
                    <path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
                    </path>
                </svg>
            </a>
            <div class="nav-dropdown explore-tabs wide responsive">
                <ul>
                    <li class="mega-nav-box">
                        <a href="/shots">
                            <div class="nav-quad-layout mega-nav-popular-shots">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/1094383/screenshots/10952498/line.png?compress=1&amp;resize=140x105">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/5031392/screenshots/10951333/frame_1.png?compress=1&amp;resize=140x105">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/63407/screenshots/10949965/dribbble__superheros_candle_light.png?compress=1&amp;resize=140x105">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/1644453/screenshots/10954789/sparkbrand.png?compress=1&amp;resize=140x105">
                            </div>
                            <div class="mega-nav-copy">
                                <div class="title">Shots</div>
                                <span class="mega-description">Get inspired with designs shared by our talented
                                    community</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box">
                        <a href="/designers">
                            <img class="image-shadow"
                                src="https://dribbble.com/assets/updated_navigation/top-designers-cbc697fdfc15f9c29e5a63f480d3e65d773b73ba8968412dc6e4b21ff84f0175.png">
                            <div class="mega-nav-copy">
                                <div class="title">Top Designers</div>
                                <span class="mega-description">Check out the rankings and see which designers are
                                    trending</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box">
                        <a href="/stories">
                            <div class="nav-tri-layout mega-nav-blog-posts">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/uploads/9254/original/75295792f94f69858e1708053300087b.png?1585776057&amp;compress=1&amp;resize=200x150">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/uploads/9154/original/ea53a66e56b00312a6245f0466147148.png?1585692812&amp;compress=1&amp;resize=200x150">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/uploads/8824/original/2509735ffc400d2f6bd08026d760b38f.png?1585094786&amp;compress=1&amp;resize=200x150">
                            </div>
                            <div class="mega-nav-copy">
                                <div class="title">Blog</div>
                                <span class="mega-description">Amazing interviews with design industry leaders,
                                    tutorials, and more</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box mega-nav-weekly-playoff">
                        <a href="/shots/10955766-Design-a-Postcard-for-Somewhere-You-d-Like-to-Visit">
                            <img class="image-shadow"
                                src="https://cdn.dribbble.com/users/39/screenshots/10955766/wwu_31.png?compress=1&amp;resize=280x210">
                            <div class="mega-nav-copy">
                                <div class="title">Weekly Warmup</div>
                                <span class="mega-description">Join the fun and flex your design skills with our weekly
                                    prompt</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box hide-on-transition-screens">
                        <a href="/shots?list=playoffs">
                            <div class="nav-tri-layout mega-nav-featured-playoffs">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/2254924/screenshots/6283328/adobexd-fonts-project-dribbble-movie.png?compress=1&amp;resize=200x150">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/1960589/screenshots/6628207/animacja_fragment_1.png?compress=1&amp;resize=200x150">
                                <img class="image-shadow"
                                    src="https://cdn.dribbble.com/users/2254924/screenshots/6764060/final_post_dribbble_xd_undraw.png?compress=1&amp;resize=200x150">
                            </div>

                            <div class="mega-nav-copy">
                                <div class="title">Playoffs</div>
                                <span class="mega-description">See Shots that other designers are riffing on &amp;
                                    participate yourself</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box nav-extras">
                        <ul>
                            <li><a href="/teams">Teams</a></li>
                            <li><a href="/goods">Goods for Sale</a></li>
                            <li><a href="/meetups">Meetups</a></li>
                            <li><a href="https://shop.dribbble.com/">Dribbble Shop</a></li>
                            <li><a text="About Dribbble" href="/about">About Dribbble</a></li>
                            <li class="last-vertical-nav-item"><a href="/advertise">Advertise</a></li>
                            <li class="show-on-transition-screens"><a href="/shots?list=playoffs">Playoffs</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="textured-background"></div>
            </div>
        </li>
        <li class="pr-6 nav-dropdown-item tab-link js-designers-tab" data-top-level="designers">

            <a class="flex items-center" href="">For Developers
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" role="img"
                    class="icon caret ml-2">
                    <path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
                    </path>
                </svg></a>

            <div class="nav-dropdown for-designers-tabs">
                <ul>
                    <li class="mega-nav-box">
                        <a href="/jobs">
                            <img class="for-designers-img"
                                src="https://cdn.dribbble.com/assets/updated_navigation/job-board-662c703dbd11dddab7ae4d06c0348f64cfc7dca3a8c06633bec21c2700536a56.png">
                            <div class="mega-nav-copy">
                                <div class="title">Job Board</div>
                                <span class="mega-description">Find your dream design job on Dribbble</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box">
                        <a href="/jobs/projects">
                            <img class="for-designers-img"
                                src="https://cdn.dribbble.com/assets/updated_navigation/dribbble-projects-32a25d5c8142964474bcbf0c019679ea3e962c529669096c906c6354ecffb679.png">
                            <div class="mega-nav-copy">
                                <div class="title">
                                    Freelance Projects
                                    <span class="badge badge-pro">Pro</span>
                                </div>
                                <span class="mega-description">Exclusive project board perfect for Freelancers and
                                    Agencies.</span>
                            </div>
                        </a> </li>

                    <li class="mega-nav-box">
                        <a href="/pro">
                            <img class="for-designers-img"
                                src="https://cdn.dribbble.com/assets/updated_navigation/dribbble-pro-a3cf5682d7510107532d97d5cb1a7c8b103bb1c8ba19ead129e93b274b624fe8.png">
                            <div class="mega-nav-copy">
                                <div class="title">Go Pro</div>
                                <span class="mega-description">For Designers &amp; Design Teams, join the worlds best
                                    designers on Dribbble.</span>
                            </div>
                        </a> </li>
                </ul>
                <div class="textured-background"></div>
            </div>
        </li>
    </span>
    
    
    <span class="flex items-center">
        <li class="mr-6">
            <span class="flex items-center relative search-input-wrapper">
            <form action="/search" method="GET">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img"
                    class="icon js-toggle-nav-search fill-current">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                    </path>
                </svg>
                <input class="search-input" type="text" placeholder="Search" name="term">
            </form>
            </span>
        </li>
        {% if user.is_authenticated %}
        <li class="mr-6 dropdown relative p-2">
            <a href="{% url 'users:profile' user.pk %}">
                {% if user.avatar %}
                    <img class="w-8 h-8 rounded-full" src="{{ user.avatar.url }}" alt="{{ user.first_name }}">
                {% elif user.default_avatar_img_url %}
                    <img class="w-8 h-8 rounded-full" src="{{ user.default_avatar_img_url }}" alt="{{ user.first_name }}">
                {% else %}
                    <img class="w-8 h-8 rounded-full" src="https://api.adorable.io/avatars/60/abott@adorable.png" alt="Placeholder image">
                {% endif %}
            </a>
            
            <ul class="dropdown-menu tabs absolute hidden text-gray-700 pt-1">
                <li class=""><a class="bg-white py-4 px-4 block whitespace-no-wrap rounded-t-md" href="{% url 'users:profile' user.pk %}">Profile</a></li>
                <li class="rule"></li>
                <li class=""><a class="bg-white py-4 px-4 block whitespace-no-wrap rounded-b-md" href="{% url 'users:logout' %}">Log out</a></li>
            </ul>
        </li>
        <li class="btn text-white mr-6"><a href="{% url 'resources:create' %}">Create</a></li>
        {% else %}
        <li class="mr-6"><a href="{% url 'users:login' %}">Sign in</a></li>
        <li class="btn text-white mr-6"><a href="{% url 'users:signup' %}">Sign up</a></li>
        {% endif %}
    </span>
</ul>