{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<section>
    <div class="flex bg-white">
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2 py-24">
            <div>
                <div class="flex items-center">
                    <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">{{ resource.title }}</h2>
                    <div class="flex">
                        {% for tag in resource.tags.all %}
                            {% include 'mixins/badge.html' with tag=tag %}
                        {% endfor %}
                    </div>
                        
                       
                </div>
                <div class="flex justify-between items-center">
                    <span>
                        <small>{{ resource.created|naturaltime }}</small>
                    </span>
                    <span class="flex items-center py-2">
                        {% if resource.author.avatar %}
                            <img class="w-8 h-8 rounded-full mr-4" src="{{ resource.author.avatar.url }}" alt="">
                        {% endif %}
                        <small>shared by {{ resource.author.get_full_name }}</small>
                    </span>
                </div>
                <p class="mt-2 text-sm text-gray-900 md:text-base leading-snug">{{ resource.description }}</p>
                <div class="flex justify-center lg:justify-start mt-6 pb-4">
                    <a class="px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400"
                        href="{{ resource.url }}">Learn More</a>
                </div>

                <hr class="my-4">

                <div class="py-4 comments-container">
                    <form action="/comments/create/{{resource.slug}}/" method="POST">
                        {% csrf_token %}
                        <div class="flex">
                            {% if request.user.avatar %}
                                <img class="w-8 h-8 rounded-full mr-2" src="{{request.user.avatar.url}}" alt="">
                            {% endif %}
                            <input class="border-1" type="text" name="comment" placeholder="comment" style="height: 32px; padding: 5px;">
                            <input class="ml-2 text-center border-none w-24 h-8 bg-pink-400 text-white rounded-md" type="submit" value="submit">
                        </div>
                    </form>

                    
                    <div class="bg-white">
                        <div class="text-grey-dark leading-normal text-sm">
                            {% for c in comments %}
                            <div class="my-2">
                                <div class="flex items-center"><span>
                                    {% if c.user.avatar %}
                                    <img class="w-6 h-6 rounded-full mr-2"
                                            src="{{c.user.avatar.url}}" alt="">
                                    {% else %}
                                    <img class="w-6 h-6 rounded-full" src="https://api.adorable.io/avatars/60/abott@adorable.png" alt="Placeholder image">
                                    {% endif %}
                                    </span>{{c.user.get_full_name}}</div>
                                <div class="border-gray-300 pl-4 py-2" style="margin-left: 0.6rem; border-left: 3px solid #f3f3f3;">
                                    <p>{{ c.comment }}</p>
                                    <small>{{ c.created|naturaltime }}</small>
                                    <div>
                                        <span id="upvote" class="text-xs text-gray-700 mr-2">Upvote (11)</span>
                                        <span id="reply" class="text-xs text-gray-700 mr-2">Reply</span>
                                        <span id="share" class="text-xs text-gray-700 mr-2">Shared</span>
                                    </div>
                                    <div class="mt-2 hidden replyForm">
                                        <form action="/comments/create/{{resource.slug}}/" method="POST">
                                            {% csrf_token %}
                                            <div class="flex">
                                                <input type="hidden" name="parent_id" value="{{ c.id }}">
                                                <input class="border-1" type="text" name="comment" placeholder="comment" style="height: 32px; padding: 5px;">
                                                <input class="ml-2 text-center border-none w-24 h-8 bg-pink-400 text-white rounded-md" type="submit" value="Reply">
                                            </div>
                                        </form>
                                    </div> 
                                    <div class="mt-2">
                                        {% for reply in c.replies.all %}
                                            <div class="flex items-center">
                                                <span>
                                                    {% if reply.user.avatar %}
                                                    <img class="w-6 h-6 rounded-full mr-2"
                                                            src="{{reply.user.avatar.url}}" alt="">
                                                    {% else %}
                                                    <img class="w-6 h-6 rounded-full" src="https://api.adorable.io/avatars/60/abott@adorable.png" alt="Placeholder image">
                                                    {% endif %}
                                                </span>
                                                {{reply.user.get_full_name}}
                                            </div>
                                            <div class="border-gray-300 pl-4 py-2" style="margin-left: 0.6rem; border-left: 3px solid #f3f3f3;">
                                                <p>{{ reply.comment }}</p>
                                                <small>{{ reply.created|naturaltime }}</small>
                                                <div>
                                                    <span id="upvote" class="text-xs text-gray-700 mr-2">Upvote (11)</span>
                                                    <span id="reply" class="text-xs text-gray-700 mr-2">Reply</span>
                                                    <span id="share" class="text-xs text-gray-700 mr-2">Shared</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover" style="background-image: url({{ resource.thumbnail }})">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
</section>

<script>
    const replyForm = document.querySelector('.replyForm');
    const replyBtns = document.querySelectorAll('#reply');

    replyBtns.forEach(btn => {
        btn.addEventListener('click', function() {
            this.parentElement.nextElementSibling.classList.toggle('hidden');
        });
    });

</script>

{% endblock content %}