{% extends 'base.html' %}

{% block content %}
    {% for field in form %}
        <div class="input {% if field.errors %}has_error{% endif %}">
            {% if displayLabel %}
            <label class="label">{{field.label}}</label>
            {% endif %}
            {{field}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-red-700 font-medium text-sm">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
