{% extends "base.html" %}

{% block content %}
<section class="bg-white">
    <div class="container mx-auto">
        <div class="max-w-3xl mx-auto flex justify-center items-center">
            <div class="flex justify-center py-8">
                {% if user.avatar %}
                    <img class="avatar rounded-full" src="{{ user.avatar.url }}" alt="">
                {% else %}
                    <img class="avatar rounded-full" src="https://api.adorable.io/avatars/120/abott@adorable.png" alt="">
                {% endif %}
                
            </div>
            <div class="ml-4">
                <div class="flex w-full flex-col mb-4">
                    <h1 class="font-bold">{{ user.get_full_name }}</h1>
                    <p class="py-2">{{ user.job_title|title }}</p>
                </div>
                {% if user != request.user %}
                <div>
                    <a href="{% url 'users:update' user.pk %}" class="btn-clear">Follow</a>
                </div>
                {% endif %}
                {% if user == request.user %}
                <div class="">
                    <a href="{% url 'users:update' user.pk %}" class="btn-clear">Edit Profile</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="max-w-3xl mx-auto text-center py-8">
            <p>{{ user.bio }}</p>
        </div>
    </div>
</section>

<section>
    <div class="container mx-auto py-12">
        {% if resources|length > 0 %}
        <div class="lg:py-8 py-4 lg:px-8 px-4">
            <ul class="resource-grid">
                {% for resource in resources %}
                <li>
                    <div class="w-full bg-cover bg-center rounded-lg mb-3 object-cover"
                        style="background-image: url({{resource.thumbnail}}); height: 386px;"></div>
                    <div class="flex items-center">
                        <span class="text-sm text-gray-600 block mr-2 small-thumbnail"><img
                                src="{{ resource.author.avatar.url }}" alt=""></span>
                        <span class="text-black block"><a href="{% url 'resources:detail' resource.slug %}">{{ resource.title }}</a></span>
                        <span class="flex flex-1 items-center">
                            <ul class="flex items-center">
                                {% for tag in resource.tags.all %}
                                    {% include 'mixins/badge.html' with tag=tag %}
                                {% endfor %}
                            </ul>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>Nothing to show..</p>
        {% endif %}
        <div class="flex items-center mx-auto justify-center container py-12">
            <ul class="flex">
                {% if page_obj.has_previous %}
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 rounded-lg">
                    <a class="flex items-center font-bold" href="?page={{page_obj.previous_page_number}}">
                        <span class="mx-1">previous</span>
                    </a>
                </li>
                {% endif %}
                {% for pg in page_obj.paginator.page_range %}
                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                        <a class="font-bold" href="?page={{pg}}">{{ pg }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="flex items-center font-bold" href="?page={{page_obj.next_page_number}}">
                        <span class="mx-1">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}