{% extends "base.html" %}

{% block content %}
<section class="bg-white">
    <div class="container mx-auto">
        <div class="max-w-3xl mx-auto flex justify-center items-center">
            <div class="flex justify-center py-8">
                {% if request.user.avatar %}
                    <img class="avatar rounded-full" src="{{ user.avatar.url }}" alt="">
                {% else %}
                    <img class="avatar rounded-full" src="https://api.adorable.io/avatars/120/abott@adorable.png" alt="">
                {% endif %}
                
            </div>
            <div class="ml-4">
                <div class="flex w-full flex-col mb-4">
                    <h1 class="font-bold">{{ user.get_full_name }}</h1>
                    <p class="py-2">{{ user.job_title|title }}</p>
                </div>
                {% if user == request.user %}
                <div class="">
                    <a href="{% url 'users:update' user.pk %}" class="btn-clear">Edit Profile</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="max-w-3xl mx-auto text-center py-8">
            <p>{{ user.bio }}</p>
        </div>
    </div>
</section>

<section>
    {% if user.resources.all|length > 0 %}
    <div class="lg:py-8 py-4 lg:px-8 px-4">
        <ul class="resource-grid">
            {% for resource in user.resources.all %}
            <li>
                <div class="w-full bg-cover bg-center rounded-lg mb-3 object-cover"
                    style="background-image: url({{resource.thumbnail}}); height: 386px;"></div>
                <div class="flex items-center">
                    <span class="text-sm text-gray-600 block mr-2 small-thumbnail"><img
                            src="{{ resource.author.avatar.url }}" alt=""></span>
                    <span class="text-black block">{{ resource.title }}</span>
                    <span class="flex flex-1 items-center">
                        <ul class="flex items-center">
                            {% for tag in resource.tags.all %}
                            {% include 'mixins/badge.html' with tag=tag %}
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>Nothing to show..</p>
    {% endif %}
</section>
{% endblock content %}